/* MOBILE styles */

@media only screen and (max-device-width: 400px) {
    .logo { margin-top: 34px; width:auto; font-size:90px; text-align:center; }
    .textinput { width:auto; }
    #Surface .wrapper { width:auto; }
    .btn { font-size:18px; padding:15px 15px; }
    #Surface footer { -webkit-border-radius: 0px; border-radius:0px; padding:60px; }
    table.table th, table.vars th, table.table td, table.vars td { font-size:11px; }

    .developers .bio { float: left; margin-top: 30px; text-align: center; margin-left:auto!important; }
    .developers .avatar { float:none; margin:auto; }
    .labelh1 { text-align:center; }
}
