<template name="developers">
    <h1 class="labelh1">developers</h1>
    <ul class="developers">
        <li class="clearfix">
            <div class="avatar left">
                <img src="/img/avatars/yasaricli.jpg" />
            </div>
            <div class="bio">
                <fieldset>
                    <legend>
                        <a href="http://yasaricli.com">@yasaricli</a>
                    </legend>
                </fieldset>
                <p>Hi I am ICLI Yasar. I was born in Erzincan but I live in Istanbul/Turkey. I’m experienced about both Backend and Frontend. I like the Open-Source softwares and prefer and support. When I write code I use "Vim" text editor which is a "vi" copy. I’m professionally interested in JavaScript which Douglas CROCKFORD define that it is the most misunderstood programing language. I see myself as a systematist about linux. I work with the control system like Git, Mercurial. Now I work for Markafoni company. İf I’m not busy, we can study together for your projects.</p>
            </div>
        </li>
    </ul>
</template>
