<template name="status">
    <div class="center mb10">
        <div class="btn btn-small">
            <div>Total size for {{ status.count }} status</div>
        </div>
    </div>
    <ul class="group-list">
        {{# each status }}
            <li class="group level-{{ level }}">
                <div class="count">
                </div>
                <div class="details">
                    <h3>{{ title }}</h3>
                    <p class="message">{{ content }}</p>
                    <div class="meta">
                        <span class="last-seen pretty-date">{{ prettyDate created_at }}</span>
                    </div>
                </div>
            </li>
        {{ else }}
            <li class="center bold fs20">
                <p>Empty Status</p>
            </li>
        {{/each}}
    </ul>    
</template>
