<template name="upload">
    <fieldset class="form-actions center">
        <button type="submit" class="upload-trigger btn btn-primary">Upload Files</button>
        <input type="file" id="Files" class="hidden" multiple>
    </fieldset>
</template>

<template name="filelist">
    {{> error }}
    {{#if files.count }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="tal">Name</th>
                    <th class="w100 tac">size</th>
                    <th class="w100 tac">extension</th>
                </tr>
            </thead>
            <tbody>
                {{# each files }}
                    {{#with this }}
                        {{#if isUploaded}}
                            <tr>
                                <td class="tal">
                                    {{ name }}
                                </td>
                                <td class="tac">
                                    {{ humanFileSize size }}
                                </td>
                                <td class="tac">
                                    {{ extension }}
                                </td>
                                {{#if ../../link }}
                                    <td class='w25'>
                                        <a href="{{ url download=true }}" target="_blank" class="download"></a>
                                    </td>
                                {{/if}}
                            </tr>
                        {{ else }}
                            <img src="/loading.svg" class="loading"/>
                        {{/if}}
                    {{/with}}
                {{/each}}
            </tbody>
        </table>
    {{/if}}
</template>
