<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<template name="layout">
    <div id="Surface">
        <div class="wrapper">
            <section id="content">
                <div class="container">
                    <a href="/" class="logo font-facifico">Fileer</a>
                    <div class="content">
                        <div class="main">
                            <section class="body">
                                {{> yield }}
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="center">
                <div class="mt10 font-oleo clearfix w170 ma">
                    {{ > gitbutton user='yasaricli' repo='fileer' type='Star' }}
                    {{ > gitbutton user='yasaricli' repo='fileer' type='Fork' }}
                </div> 
            </footer>
        </div>
    </div>
</template>

<template name="filelist">
    {{> error }}
    {{#if files.count }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width:100px;">size</th>
                    <th style="width:100px;">extension</th>
                    {{#if link }}
                        <th style="width:100px;">link</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{# each files }}
                    {{#with this }}
                        {{#if isUploaded}}
                            <tr>
                                <td>
                                    {{ name }}
                                </td>
                                <td>
                                    {{ humanFileSize size }}
                                </td>
                                <td>
                                    {{ extension }}
                                </td>
                                {{#if ../../link }}
                                    <td>
                                        <a href="{{ url download=true }}" target="_blank">Download</a>
                                    </td>
                                {{/if}}
                            </tr>
                        {{ else }}
                            <img src="/img/loading.svg?{{ randomid }}" class="loading"/>
                        {{/if}}
                    {{/with}}
                {{/each}}
            </tbody>
        </table>
    {{/if}}
</template>

<template name="error">
    {{# if error }}
        <div class="error">
            <strong>
                {{# if stack }}
                    {{ error }}
                {{ else }}
                    Due to the file size is not 5MB and file extension is not supported, it is not loaded.
                {{/if}}
            </strong>
        </div>
    {{/if}}
</template>

<template name="loading">
    <div class="center">
        <img src="/throbber.svg">
    </div>
</template>

<template name="not_found">
    <div class="notfound center font-oleo">
        Sorry, this page isn't available :(
    </div>
</template>
